div.voucherifyContainer {
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	display: block;

	min-width: 12em;
	max-width: 17em;

	margin: 1.75em auto 0 auto;
	border: 1px solid #e5e5e5;
	border-radius: 1em;
	padding: 2.5em 1em 0 1em;

	background-color: #f1f1f1;
	-webkit-box-shadow: 0px 0px 2px 2px rgba(229, 229, 229, 0.2);
	-moz-box-shadow: 0px 0px 2px 2px rgba(229, 229, 229, 0.2);
	box-shadow: 0px 0px 2px 2px rgba(229, 229, 229, 0.2);

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

div.voucherifyContainer *,
div.voucherifyContainer *::before,
div.voucherifyContainer *::after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

div.voucherifyContainer.wide {
	max-width: 22em;
}

div.voucherifyContainer figure.voucherifyLogo {
	position: absolute;
	top: -1.5em;
	left: 50%;

	width: 2em;
	height: 2em;

	margin-top: 0;
	margin-bottom: 0;
	margin-left: -1.5em;
	border: 1px solid #e5e5e5;
	border-radius: 2em;
	padding: 0.5em;

	text-align: center;
	background-color: white;
	-webkit-box-shadow: 0px 0px 2px 2px rgba(229, 229, 229, 0.2);
	-moz-box-shadow: 0px 0px 2px 2px rgba(229, 229, 229, 0.2);
	box-shadow: 0px 0px 2px 2px rgba(229, 229, 229, 0.2);
}

div.voucherifyContainer svg.voucherifyLogo,
div.voucherifyContainer img.voucherifyLogo {
	position: relative;
	width: 2em;
	height: 2em;
}

div.voucherifyContainer span.voucherifyMessage {
	display: block;

	margin: 0.4em 0;
	padding: 0;

	font-size: 0.85em;

	text-align: center;
}

div.voucherifyContainer span.voucherifyMessageInvalid {
	color: red;
}

div.voucherifyContainer span.voucherifyMessageValid {
	color: green;
}

div.voucherifyContainer input.voucherifyDiscountType,
div.voucherifyContainer input.voucherifyPercentOff,
div.voucherifyContainer input.voucherifyAmountOff,
div.voucherifyContainer input.voucherifyUnitOff,
div.voucherifyContainer input.voucherifyTracking {
	display: none;
}

div.voucherifyContainer input.voucherifyCode,
div.voucherifyContainer input.voucherifyAmount,
div.voucherifyContainer input.voucherifyCustomerName,
div.voucherifyContainer input.voucherifyCustomerEmail,
div.voucherifyContainer input.voucherifyCustomerPhone,
div.voucherifyContainer input.voucherifyCustomerLine1,
div.voucherifyContainer input.voucherifyCustomerLine2,
div.voucherifyContainer input.voucherifyCustomerPostalCode,
div.voucherifyContainer input.voucherifyCustomerCity,
div.voucherifyContainer input.voucherifyCustomerState,
div.voucherifyContainer input.voucherifyCustomerCountry,
div.voucherifyContainer input.voucherifyPublishStatus,
div.voucherifyContainer div.voucherifySubscribeStatus {
	display: block;
	box-sizing: border-box;
	color: #444444;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background-color: #ffffff;

	height: 2.5em;
	width: 100%;
	margin: 0.5em 0;

	border: 1px solid #d1d1d1;
	padding: 0 1em;

	font-size: 0.95em;
	text-align: center;
	outline: none;
}

div.voucherifyContainer div.voucherifySubscribeStatus {
	height: auto;
}
div.voucherifyContainer button.voucherifyRedeem,
div.voucherifyContainer button.voucherifyValidate,
div.voucherifyContainer button.voucherifyPublish,
div.voucherifyContainer button.voucherifySubscribe {
	display: block;
	margin: 1.5em auto 1.5em auto;
	border: none;
	border-radius: 2em;
	padding: 0 1.75em;
	cursor: pointer;
	outline: none;
	line-height: 3em;
	height: 3em;
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #08ffb9;
	color: rgba(63, 49, 49, 0.8);
}

div.voucherifyContainer input.voucherifyCode.voucherifyInvalid,
div.voucherifyContainer input.voucherifyAmount.voucherifyInvalid,
div.voucherifyContainer input.voucherifyCustomerName.voucherifyInvalid,
div.voucherifyContainer input.voucherifyCustomerEmail.voucherifyInvalid,
div.voucherifyContainer input.voucherifyCustomerPhone.voucherifyInvalid,
div.voucherifyContainer input.voucherifyCustomerLine1.voucherifyInvalid,
div.voucherifyContainer input.voucherifyCustomerLine2.voucherifyInvalid,
div.voucherifyContainer input.voucherifyCustomerPostalCode.voucherifyInvalid,
div.voucherifyContainer input.voucherifyCustomerCity.voucherifyInvalid,
div.voucherifyContainer input.voucherifyCustomerState.voucherifyInvalid,
div.voucherifyContainer input.voucherifyCustomerCountry.voucherifyInvalid,
div.voucherifyContainer button.voucherifyValidate.voucherifyInvalid,
div.voucherifyContainer div.voucherifySubscribeStatus.voucherifyInvalid,
div.voucherifyContainer span.voucherifyCheckmark.voucherifyInvalid {
	background-color: #f8dffe;
	border: 1px solid #ebd7f4;
}

div.voucherifyContainer input.voucherifyCode.voucherifyValid,
div.voucherifyContainer input.voucherifyAmount.voucherifyValid,
div.voucherifyContainer input.voucherifyCustomerName.voucherifyValid,
div.voucherifyContainer input.voucherifyCustomerEmail.voucherifyValid,
div.voucherifyContainer input.voucherifyCustomerPhone.voucherifyValid,
div.voucherifyContainer input.voucherifyCustomerLine1.voucherifyValid,
div.voucherifyContainer input.voucherifyCustomerLine2.voucherifyValid,
div.voucherifyContainer input.voucherifyCustomerPostalCode.voucherifyValid,
div.voucherifyContainer input.voucherifyCustomerCity.voucherifyValid,
div.voucherifyContainer input.voucherifyCustomerState.voucherifyValid,
div.voucherifyContainer input.voucherifyCustomerCountry.voucherifyValid,
div.voucherifyContainer input.voucherifyPublishStatus.voucherifyValid,
div.voucherifyContainer button.voucherifyPublish.voucherifyValid,
div.voucherifyContainer div.voucherifySubscribeStatus.voucherifyValid,
div.voucherifyContainer button.voucherifySubscribe.voucherifyValid,
div.voucherifyContainer button.voucherifyValidate.voucherifyValid {
	border: 1px solid #08ffb9;
	background-color: #08ffb9;
	color: rgba(63, 49, 49, 0.8);
	font-weight: bold;
}

div.voucherifyContainer .voucherifyRow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
}

div.voucherifyContainer .voucherifyRow > input {
	width: 49%;
}

div.voucherifyContainer .voucherifyRow > input:only-child {
	width: 100%;
}

div.voucherifyContainer button.voucherifyValidate:not(.voucherifyInvalid):hover,
div.voucherifyContainer button.voucherifyPublish:not(.voucherifyInvalid):hover,
div.voucherifyContainer button.voucherifySubscribe:not(.voucherifyInvalid):hover {
	background-color: rgba(8, 255, 185, 0.8);
}

div.voucherifyContainer button.voucherifyValidate:disabled,
div.voucherifyContainer button.voucherifyPublish:disabled,
div.voucherifyContainer button.voucherifySubscribe:disabled {
	background-color: #e5e5e5;
	color: #959595;
	cursor: default;
}

div.voucherifyContainer button.voucherifyPublish.voucherifyValid,
div.voucherifyContainer button.voucherifySubscribe.voucherifyValid {
	background-color: #08ffb9;
	color: rgba(63, 49, 49, 0.8);
	font-weight: bold;
}

div.voucherifyContainer button.voucherifyPublish.voucherifyInvalid,
div.voucherifyContainer button.voucherifySubscribe.voucherifyInvalid,
div.voucherifyContainer button.voucherifyRedeem.voucherifyInvalid {
	background-color: #f8dffe;
}
/****
* From Single Element CSS Spinners: https://projects.lukehaas.me/css-loaders/
****/

.loader {
	font-size: 10px;
	margin: 50px auto;
	text-indent: -9999em;
	width: 11em;
	height: 11em;
	border-radius: 50%;
	background: #08ffb9;
	background: -moz-linear-gradient(left, #08ffb9 10%, rgba(255, 255, 255, 0) 42%);
	background: -webkit-linear-gradient(left, #08ffb9 10%, rgba(255, 255, 255, 0) 42%);
	background: -o-linear-gradient(left, #08ffb9 10%, rgba(255, 255, 255, 0) 42%);
	background: -ms-linear-gradient(left, #08ffb9 10%, rgba(255, 255, 255, 0) 42%);
	background: linear-gradient(to right, #08ffb9 10%, rgba(255, 255, 255, 0) 42%);
	position: relative;
	-webkit-animation: load3 1.4s infinite linear;
	animation: load3 1.4s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
.loader:before {
	width: 50%;
	height: 50%;
	background: #08ffb9;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}
.loader:after {
	background: white;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.voucherifyCheckboxContainer {
	display: block;
	color: #444444;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.voucherifyCheckboxContainer input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.voucherifyCheckmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: white;
}

/* On mouse-over, add a grey background color */
.voucherifyCheckboxContainer:hover input ~ .voucherifyCheckmark {
	background-color: #ccc;
}

.voucherifyCheckboxContainer input:checked ~ .voucherifyCheckmark {
	background-color: #08ffb9;
}

/* Create the voucherifyCheckmark/indicator (hidden when not checked) */
.voucherifyCheckmark:after {
	content: '';
	position: absolute;
	display: none;
}

/* Show the voucherifyCheckmark when checked */
.voucherifyCheckboxContainer input:checked ~ .voucherifyCheckmark:after {
	display: block;
}

/* Style the voucherifyCheckmark/indicator */
.voucherifyCheckboxContainer .voucherifyCheckmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

@-webkit-keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/****
* From Animate.css: https://daneden.github.io/animate.css/
****/
@-webkit-keyframes shake {
	from,
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translate3d(-5px, 0, 0);
		transform: translate3d(-5px, 0, 0);
	}

	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0);
	}
}

@keyframes shake {
	from,
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translate3d(-5px, 0, 0);
		transform: translate3d(-5px, 0, 0);
	}

	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0);
	}
}

@-webkit-keyframes tada {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	10%,
	20% {
		-webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
	}

	30%,
	50%,
	70%,
	90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}

	40%,
	60%,
	80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}

	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes tada {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	10%,
	20% {
		-webkit-transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -3deg);
	}

	30%,
	50%,
	70%,
	90% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);
	}

	40%,
	60%,
	80% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);
	}

	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.voucherifyAnimationShake {
	-webkit-animation-name: shake;
	animation-name: shake;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.voucherifyAnimationTada {
	-webkit-animation-name: tada;
	animation-name: tada;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
