name: Build and deploy documentation
on:
  push:
    branches:
      - main
jobs:
  build-docs:
    name: Build docs
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Use Node.js 16.20
        uses: actions/setup-node@v2
        with:
          node-version: 16.20

      - name: Cache Yarn Dependencies
        uses: c-hive/gha-yarn-cache@v1

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Build documentation
        run: yarn docs

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Auto updated documentation
