name: Lint
on: [push]
jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          version: 14.x

      - name: Cache Yarn Dependencies
        uses: c-hive/gha-yarn-cache@v1

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Lint TypeScript and eslint
        run: yarn lint
